@font-face {
    font-family: 'Redactor Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Redactor Regular'), url('../Containers/Redactor-Regular.woff') format('woff');
    }
@font-face {
    font-family: 'Andika Basic Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Andika Basic Regular'), url('../Containers/AndBasR.woff') format('woff');
    }
.Home{
    background: linear-gradient(to left,
     rgba(7,27,82,1)20%,
     rgb(153, 50, 144)100%);
    padding: 133px;

    text-align: center;
    height: 90vh;
    width: auto;
    
  }
.title{
    position: relative;
    text-align: center;
    height: 60px;
    top: 130px;
  }

#H{
    font-family: 'Redactor Regular';
    font-size: 40px;
    color: white;
  
  }
#P{
    font-family: 'Andika Basic Regular';
    font-size:20px;
    text-align: center;

    color:white;
  
  }

.prag{
    position: relative;
    text-align: center;

    height: 40px;
    top: 130px;
  
  }
.Button{
    position: relative;
    height: 30px;
    top: 130px;
  
  }
.bu {
    background:linear-gradient(to left, rgb(65, 7, 31)20%,rgba(201, 23, 112, 0.534)80%);
    border: none;
    border-radius: 25px;
    /* border: 2px solid #73AD21; */
    font-family: 'Andika Basic Regular';
    color: white;
    padding: 20px 40px;
    text-align: center;
    /* className: grow bw2 shadow-5; */
    font-size: 19px;
    cursor: pointer;
  }