#SearchSection{
    display: inline;
    position: absolute;
}
.LSearch:hover{
    text-decoration: underline;
    text-decoration-color: white;
  }
#seeAllSearch{
    width: 75rem;
    display: inline-block;
}
.LSearch{
    display: inline;
}