
.section3 {
    background: linear-gradient(to right, rgb(5, 121, 82)50%, rgb(0, 0, 0)100%);
    text-align: center;
    height:420px;
    width:auto;
  }
  
  .header4{
  
    position: relative;
    top: 70px;
  }
  #h2section3{
  
   color: white;
  
  }
  
  #alldevices{
  
    position: relative;
    width: 500px;
    top:55px;
  }
  .list {
    position: relative;
    top:90px;
    height: 32px;
    color: white;

  }

  /* .list2 {
  

    margin-top: 106px;
    margin-left: 300px;
    color: black;
    font-weight: 500;

  } */

  .para3{
    padding-left: 10px;
    color: whitesmoke;
    font-size: 17px;
  }
  
  .para32{
    padding-left: 10px;
    color: black;
    font-size: 17px;
  }
  .para3:hover {
    text-decoration: underline;
    color: white;
  }
  .para32:hover {

   text-decoration: underline;
   color: cadetblue;
  }
 
  
  
   