 
@font-face {
    font-family: 'Myriad Web Pro';
    font-style: normal;
    font-weight: normal;
    src: local('MyriadWebPro-Bold'), url('../Containers/myriadwebpro-bold.woff') format('woff');
    }
     

@media screen and (max-width: 600px) {


    .section1{

      display: flex;
      flex-direction: row;
      flex-wrap: initial;
      justify-content: center;
      align-content: center; 
      align-items: center;
     
     }

     .laptop{

      padding-bottom: 50px;
      padding-right: 50px;

      /* order:1; */
     }
    .header1{

      order:2;
    }
    #header2{
      order:3;
    }

  }

  .section1 {
  
    background: linear-gradient(to left, rgb(5, 118, 122)40%, rgb(11, 94, 68)100%);
    padding: 133px;
    text-align: center;
    /* height: 100vh; */
    width:auto;
  
    
  }
  
  h1 {
  
    font-family:'Myriad Web Pro';
    color:white;
  }
  
  u{
  
    color:white;
    
  }
  
  u:hover{
   
    color:rgb(95, 95, 95);
  
  }
  
  .header1{
    position: relative;
    float:left;
    top:100px;
  }
  
  #paraheader2 {
   margin-top: 90px;
   float: left;
   margin-left: 120px;   
  }

 #para2 {
  color: black;
  font-size: medium;
 }
  
  
  #laptop {
  
    position: relative;
    top: 80px;
    left: 20px;
    width: 250px;
    height:250px;
  }
  #tick {
    position: relative;
    top:150px;
    left:17px;
  }
  